In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as mlp

In [2]:
from google.colab import files
data = files.upload()

Saving nba.csv to nba.csv

In [3]:
datas = pd.read_csv("nba.csv")

In [5]:
datas

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0,PG,25,2-Jun,180,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99,SF,25,6-Jun,235,Marquette,6796117.0
2,John Holland,Boston Celtics,30,SG,27,5-Jun,205,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28,SG,22,5-Jun,185,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8,PF,29,10-Jun,231,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,41,PF,20,10-Jun,234,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8,PG,26,3-Jun,203,Butler,2433333.0
454,Raul Neto,Utah Jazz,25,PG,24,1-Jun,179,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21,C,26,3-Jul,256,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24,C,26,Jul-00,231,Kansas,947276.0

In [6]:
dataset = datas.copy()

In [7]:
datas.shape

(457, 9)

In [8]:
datas.columns

Index(['Name', 'Team', 'Number', 'Position', 'Age', 'Height', 'Weight',
       'College', 'Salary'],
      dtype='object')

In [9]:
datas.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0,PG,25,2-Jun,180,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99,SF,25,6-Jun,235,Marquette,6796117.0
2,John Holland,Boston Celtics,30,SG,27,5-Jun,205,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28,SG,22,5-Jun,185,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8,PF,29,10-Jun,231,NaN,5000000.0

In [10]:
datas.tail()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
452,Trey Lyles,Utah Jazz,41,PF,20,10-Jun,234,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8,PG,26,3-Jun,203,Butler,2433333.0
454,Raul Neto,Utah Jazz,25,PG,24,1-Jun,179,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21,C,26,3-Jul,256,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24,C,26,Jul-00,231,Kansas,947276.0

In [11]:
datas.iloc[20:26]

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
20,Sergey Karasev,Brooklyn Nets,10,SG,22,7-Jun,208,NaN,1599840.0
21,Sean Kilpatrick,Brooklyn Nets,6,SG,26,4-Jun,219,Cincinnati,134215.0
22,Shane Larkin,Brooklyn Nets,0,PG,23,11-May,175,Miami (FL),1500000.0
23,Brook Lopez,Brooklyn Nets,11,C,28,Jul-00,275,Stanford,19689000.0
24,Chris McCullough,Brooklyn Nets,1,PF,21,11-Jun,200,Syracuse,1140240.0
25,Willie Reed,Brooklyn Nets,33,PF,26,10-Jun,220,Saint Louis,947276.0

In [12]:
datas.iloc[7]

Name          Kelly Olynyk
Team        Boston Celtics
Number                  41
Position                 C
Age                     25
Height              Jul-00
Weight                 238
College            Gonzaga
Salary           2165160.0
Name: 7, dtype: object

In [13]:
datas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 457 entries, 0 to 456
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      457 non-null    object
 1   Team      457 non-null    object
 2   Number    457 non-null    int64
 3   Position  457 non-null    object
 4   Age       457 non-null    int64
 5   Height    457 non-null    object
 6   Weight    457 non-null    int64
 7   College   373 non-null    object
 8   Salary    446 non-null    float64
dtypes: float64(1), int64(3), object(5)
memory usage: 32.3+ KB

In [14]:
datas.describe()

           Number         Age      Weight        Salary
count  457.000000  457.000000  457.000000  4.460000e+02
mean    17.678337   26.938731  221.522976  4.842684e+06
std     15.966090    4.404016   26.368343  5.229238e+06
min      0.000000   19.000000  161.000000  3.088800e+04
25%      5.000000   24.000000  200.000000  1.044792e+06
50%     13.000000   26.000000  220.000000  2.839073e+06
75%     25.000000   30.000000  240.000000  6.500000e+06
max     99.000000   40.000000  307.000000  2.500000e+07

In [15]:
datas.max()

<ipython-input-15-550251b77d90>:1: FutureWarning: The default value of numeric_only in DataFrame.max is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  datas.max()

Name             Zaza Pachulia
Team        Washington Wizards
Number                      99
Position                    SG
Age                         40
Height                  Jun-00
Weight                     307
Salary              25000000.0
dtype: object

In [16]:
datas.min()

<ipython-input-16-01dafcff4b70>:1: FutureWarning: The default value of numeric_only in DataFrame.min is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  datas.min()

Name         Aaron Brooks
Team        Atlanta Hawks
Number                  0
Position                C
Age                    19
Height              1-Jul
Weight                161
Salary            30888.0
dtype: object

In [17]:
datas.std()

<ipython-input-17-d4770f4db92a>:1: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  datas.std()

Number    1.596609e+01
Age       4.404016e+00
Weight    2.636834e+01
Salary    5.229238e+06
dtype: float64

In [18]:
datas.count()

Name        457
Team        457
Number      457
Position    457
Age         457
Height      457
Weight      457
College     373
Salary      446
dtype: int64

In [19]:
datas.isnull()

      Name   Team  Number  Position    Age  Height  Weight  College  Salary
0    False  False   False     False  False   False   False    False   False
1    False  False   False     False  False   False   False    False   False
2    False  False   False     False  False   False   False    False    True
3    False  False   False     False  False   False   False    False   False
4    False  False   False     False  False   False   False     True   False
..     ...    ...     ...       ...    ...     ...     ...      ...     ...
452  False  False   False     False  False   False   False    False   False
453  False  False   False     False  False   False   False    False   False
454  False  False   False     False  False   False   False     True   False
455  False  False   False     False  False   False   False     True   False
456  False  False   False     False  False   False   False    False   False

[457 rows x 9 columns]

In [20]:
datas.isnull().sum()

Name         0
Team         0
Number       0
Position     0
Age          0
Height       0
Weight       0
College     84
Salary      11
dtype: int64

In [21]:
datas.dropna()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0,PG,25,2-Jun,180,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99,SF,25,6-Jun,235,Marquette,6796117.0
3,R.J. Hunter,Boston Celtics,28,SG,22,5-Jun,185,Georgia State,1148640.0
6,Jordan Mickey,Boston Celtics,55,PF,21,8-Jun,235,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41,C,25,Jul-00,238,Gonzaga,2165160.0
...,...,...,...,...,...,...,...,...,...
449,Rodney Hood,Utah Jazz,5,SG,23,8-Jun,206,Duke,1348440.0
451,Chris Johnson,Utah Jazz,23,SF,26,6-Jun,206,Dayton,981348.0
452,Trey Lyles,Utah Jazz,41,PF,20,10-Jun,234,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8,PG,26,3-Jun,203,Butler,2433333.0
456,Jeff Withey,Utah Jazz,24,C,26,Jul-00,231,Kansas,947276.0

In [22]:
datas.loc[50:55]

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
50,Jerami Grant,Philadelphia 76ers,39,SF,22,8-Jun,210,Syracuse,845059.0
51,Richaun Holmes,Philadelphia 76ers,22,PF,22,10-Jun,245,Bowling Green,1074169.0
52,Carl Landry,Philadelphia 76ers,7,PF,32,9-Jun,248,Purdue,6500000.0
53,Kendall Marshall,Philadelphia 76ers,5,PG,24,4-Jun,200,North Carolina,2144772.0
54,T.J. McConnell,Philadelphia 76ers,12,PG,24,2-Jun,200,Arizona,525093.0
55,Nerlens Noel,Philadelphia 76ers,4,PF,22,11-Jun,228,Kentucky,3457800.0

In [23]:
datas.iloc[20:26,7]

20            NaN
21     Cincinnati
22     Miami (FL)
23       Stanford
24       Syracuse
25    Saint Louis
Name: College, dtype: object

In [24]:
datas.iloc[449]

Name        Rodney Hood
Team          Utah Jazz
Number                5
Position             SG
Age                  23
Height            8-Jun
Weight              206
College            Duke
Salary        1348440.0
Name: 449, dtype: object

In [25]:
datas.iloc[20:26,5:7]

    Height  Weight
20   7-Jun     208
21   4-Jun     219
22  11-May     175
23  Jul-00     275
24  11-Jun     200
25  10-Jun     220

In [26]:
datas.Height

0       2-Jun
1       6-Jun
2       5-Jun
3       5-Jun
4      10-Jun
        ...
452    10-Jun
453     3-Jun
454     1-Jun
455     3-Jul
456    Jul-00
Name: Height, Length: 457, dtype: object

In [27]:
datas['Height']

0       2-Jun
1       6-Jun
2       5-Jun
3       5-Jun
4      10-Jun
        ...
452    10-Jun
453     3-Jun
454     1-Jun
455     3-Jul
456    Jul-00
Name: Height, Length: 457, dtype: object

In [28]:
datas.Name

0      Avery Bradley
1        Jae Crowder
2       John Holland
3        R.J. Hunter
4      Jonas Jerebko
           ...
452       Trey Lyles
453     Shelvin Mack
454        Raul Neto
455     Tibor Pleiss
456      Jeff Withey
Name: Name, Length: 457, dtype: object

In [29]:
datas.College

0                  Texas
1              Marquette
2      Boston University
3          Georgia State
4                    NaN
             ...
452             Kentucky
453               Butler
454                  NaN
455                  NaN
456               Kansas
Name: College, Length: 457, dtype: object

In [30]:
datas['Salary']

0      7730337.0
1      6796117.0
2            NaN
3      1148640.0
4      5000000.0
         ...
452    2239800.0
453    2433333.0
454     900000.0
455    2900000.0
456     947276.0
Name: Salary, Length: 457, dtype: float64

In [35]:
datas.iloc[20:25,[1,2,3,4,5,6]]

             Team  Number Position  Age  Height  Weight
20  Brooklyn Nets      10       SG   22   7-Jun     208
21  Brooklyn Nets       6       SG   26   4-Jun     219
22  Brooklyn Nets       0       PG   23  11-May     175
23  Brooklyn Nets      11        C   28  Jul-00     275
24  Brooklyn Nets       1       PF   21  11-Jun     200

In [36]:
datas.iloc[20:25,[1,2,3,4,5,6]].isnull()

     Team  Number  Position    Age  Height  Weight
20  False   False     False  False   False   False
21  False   False     False  False   False   False
22  False   False     False  False   False   False
23  False   False     False  False   False   False
24  False   False     False  False   False   False

In [37]:
datas.iloc[20:25,[1,2,3,4,5,6]].isnull().sum()

Team        0
Number      0
Position    0
Age         0
Height      0
Weight      0
dtype: int64

In [38]:
datas.iloc[20:25,[1,2,3,4,5,6]].isnull().sum().dropna()

Team        0
Number      0
Position    0
Age         0
Height      0
Weight      0
dtype: int64

In [39]:
datas.dropna()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0,PG,25,2-Jun,180,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99,SF,25,6-Jun,235,Marquette,6796117.0
3,R.J. Hunter,Boston Celtics,28,SG,22,5-Jun,185,Georgia State,1148640.0
6,Jordan Mickey,Boston Celtics,55,PF,21,8-Jun,235,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41,C,25,Jul-00,238,Gonzaga,2165160.0
...,...,...,...,...,...,...,...,...,...
449,Rodney Hood,Utah Jazz,5,SG,23,8-Jun,206,Duke,1348440.0
451,Chris Johnson,Utah Jazz,23,SF,26,6-Jun,206,Dayton,981348.0
452,Trey Lyles,Utah Jazz,41,PF,20,10-Jun,234,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8,PG,26,3-Jun,203,Butler,2433333.0
456,Jeff Withey,Utah Jazz,24,C,26,Jul-00,231,Kansas,947276.0

In [40]:
datas.isnull()

      Name   Team  Number  Position    Age  Height  Weight  College  Salary
0    False  False   False     False  False   False   False    False   False
1    False  False   False     False  False   False   False    False   False
2    False  False   False     False  False   False   False    False    True
3    False  False   False     False  False   False   False    False   False
4    False  False   False     False  False   False   False     True   False
..     ...    ...     ...       ...    ...     ...     ...      ...     ...
452  False  False   False     False  False   False   False    False   False
453  False  False   False     False  False   False   False    False   False
454  False  False   False     False  False   False   False     True   False
455  False  False   False     False  False   False   False     True   False
456  False  False   False     False  False   False   False    False   False

[457 rows x 9 columns]

In [41]:
datas.isnull().sum()

Name         0
Team         0
Number       0
Position     0
Age          0
Height       0
Weight       0
College     84
Salary      11
dtype: int64

In [42]:
datas.fillna('SR College',inplace = True)

In [44]:
datas

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0,PG,25,2-Jun,180,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99,SF,25,6-Jun,235,Marquette,6796117.0
2,John Holland,Boston Celtics,30,SG,27,5-Jun,205,Boston University,SR College
3,R.J. Hunter,Boston Celtics,28,SG,22,5-Jun,185,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8,PF,29,10-Jun,231,SR College,5000000.0
...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,41,PF,20,10-Jun,234,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8,PG,26,3-Jun,203,Butler,2433333.0
454,Raul Neto,Utah Jazz,25,PG,24,1-Jun,179,SR College,900000.0
455,Tibor Pleiss,Utah Jazz,21,C,26,3-Jul,256,SR College,2900000.0
456,Jeff Withey,Utah Jazz,24,C,26,Jul-00,231,Kansas,947276.0